{% trans_default_domain 'FOSUserBundle' %}




{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    {{ form_row(form.username,{'label' : "Username", 'attr': {'class': 'username'}}) }}
        <br/>
    {{ form_row(form.email,{'label' : "E-Mail", 'attr': {'class': 'mail'}}) }}
        <br/>

    {{ form_row(form.current_password,{'label' : "Ripeti password", 'attr': {'class': 'password'}}) }}

    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    
{{ form_end(form) }}

