<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
	<header>
		<div class="logo">
			<a href="/header.html" class="logo"><img src="/img/Logo.png" alt="logo"></a>
		</div>
			<div class="pulsanteapp">
				<ul id="menu"> <!-- lista principale: definisce il menu nella sua interezza -->
					<li>                   
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<a href="/profiloutente.html" class="utente">{{ app.user.username }}</a> <!-- primo list-item, prima voce del menu -->
								<ul > <!-- Lista annidata: voci del sotto-menu -->
								<li><a href="/profiloutente.html">Impostazioni</a></li>
								<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
								</ul> <!-- Fine del sotto-menu -->
						{% else %}
							<a href="{{ path('fos_user_security_login') }}" class="utente">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
						{% endif %}
		</div>
	</header>
	
			<nav id="navbar">
				<ul class="menu">
					<li><a href="/app_dev.php/home">Home</a></li>
					<li><a href="/app_dev.php/gelaterie">Gelaterie</a></li>
					<li><a href="/app_dev.php/comefunziona">Come funziona</a></li>
				</ul>
			</nav>

			<!-- fine parte alta-->

			<div id="boximg">
				<div id="larghezza">
					<div id="sidebar" class="sidebar1">

						<p class="benvenuto">
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							{{ app.user.username }}

							{% else %}
							Benvenuto!
							{% endif %}
						</p> <!-- primo list-item, prima voce del menu -->

						<br/>
						<p>Cerca per gusto:</p>
						<form method="GET">
							<div class="lineaunoform">
								<select name="gusto1" class="formgusti">
									<option value="Primo">Primo gusto</option>
									<option value="Cioccolato">Cioccolato</option>
									<option value="Pistacchio">Pistacchio</option>
									<option value="Crema">Crema</option>
									<option value="Vaniglia">Vaniglia</option>
								</select>
								<br/>
								<select name="gusto2" class="formgusti">
									<option value="Secondo">Secondo gusto</option>
									<option value="Cioccolato">Cioccolato</option>
									<option value="Pistacchio">Pistacchio</option>
									<option value="Crema">Crema</option>
									<option value="Vaniglia">Vaniglia</option>
								</select>
								<br/>
								<select name="gusto3" class="formgusti">
									<option value="Terzo">Terzo gusto</option>
									<option value="Cioccolato">Cioccolato</option>
									<option value="Pistacchio">Pistacchio</option>
									<option value="Crema">Crema</option>
									<option value="Vaniglia">Vaniglia</option>
								</select>
							</div>
							<br/>
							<p>Cerca per città:</p>
							<select name="città" class="formgusti">
								<option value="Città">Seleziona la città</option>
								<option value="Milano">Milano</option>
								<option value="Roma">Roma</option>
								<option value="Napoli">Napoli</option>
								<option value="Palermo">Palermo</option>
							</select>
							<br/>
							<br/>
							<p>Cerca per giorno di apertura:</p>
							<select name="giorno"class="formgusti">
								<option value="Giorno">Seleziona il giorno</option>
								<option value="Lunedì">Lunedì</option>
								<option value="Martedì">Martedì</option>
								<option value="Mercoledì">Mercoledì</option>
								<option value="Giovedì">Giovedì</option>
								<option value="Venerdì">Venerdì</option>
								<option value="Sabato">Sabato</option>
								<option value="Domenica">Domenica</option>
							</select>
							<input class="bottone" type="submit" value="Ricerca" />

						</form>
					</div>
					{% block body %}{% endblock %}
				</div>


				{% block javascripts %}{% endblock %}
				<footer id="tutto">
					<div id="contenitorelogo">
						<img  class="logofooter"  src="{{ asset('img/Logo.png') }}" alt="logo">
					</div>
					<br/>
					<div id="contenitoresocial">
						<img class="social" src="{{ asset('img/facebook1.png') }}" alt="Facebook">
						<img class="social" src="{{ asset('img/twitter1.png') }}" alt="Twitter">
						<img class="social" src="{{ asset('img/email1.png') }}" alt="Email">
					</div>

					<div id="boxtesti">
						<div id="boxtesto1">
							<p class="titolifooter">Chi siamo</p>
							<p class="testifooter">Leader nazionale nella produzione di gelato sfuso, Gelatone B&B ha deciso di affidarsi alla TAG Solutions per lo sviluppo di una piattaforma web-based dedicata alla ricerca delle gelaterie sul territorio italiano.</p>
						</div>
						<div id="boxtesto2">
							<p class="titolifooter">Contatti</p>
							<p class="testifooter">info@gelato.b&b.com<br/>
								Viale Umbria 76<br/>
								20021, Milano<br/>
								<a href="/app_dev.php/segnalagelateria">Segnala Gelateria</a><br/>
							</p>
						</div>
						<div id="boxtesto3">
							<p class="titolifooter">Gelatone B&B</p>
							<p class="testifooter">Capitale Sociale Euro 10.000,00 i.v.<br/>
								P.IVA IT 03419970987<br/>
								C.F. - R.I. BS 03419970987<br/>
								R.E.A. CCIAA BS 532571</p>
							</div>
							<div id="boxtesto4">
								<p class="titolifooter">Le città più ricercate</p>
								<p class="testifooter"><a href="#">Ricerca su Milano</a><br/>
									<a href="/app_dev.php/tabella">Ricerca su Roma</a><br/>
									<a href="/app_dev.php/edit">Ricerca su Napoli</a><br/>
									<a href="/app_dev.php/editgusto">Ricerca su Palermo</a></p>
								</div>
							</div>
						</footer>

					</body>
					</html>