{% trans_default_domain 'FOSUserBundle' %}

<div id="formid">

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

{{ form_row(form.username,{'label' : "Username", 'attr': {'class': 'username'}}) }}
        <br/>
{{ form_row(form.email,{'label' : "E-Mail", 'attr': {'class': 'mail'}}) }}
        <br/>

{{ form_row(form.plainPassword,{'label' : "penso che la label di questo doppio password sia dentro la factory che fa il form e che genri due classi direttamente importando due messages cambiando la lingua cambia ache la label", 'attr': {'class': 'password'}}) }}
        <br/><br/>

    <div>
        <input class="bottone" type="submit" value="Registrati" />
    </div>
{{ form_end(form) }}

</div>

